# Core LangChain Libraries
langchain

# Embeddings & Vector DB
faiss-cpu
chromadb
sentence-transformers
fastembed
numpy

# LLM - Gemini
google-generativeai
google-auth

# Scraping & Processing
beautifulsoup4
markdownify
tiktoken
unstructured

# UI
streamlit
streamlit-chat
pydeck

# Evaluation
ragas
datasets
nltk

# Utility
python-dotenv
loguru
tqdm
requests

# Testing
pytest
pytest-cov
httpx
pytest-asyncio
